button {
    height: 2.2rem;
    width: 2.2rem;
}
/* uv closs styling */
.red {
    color: white;
    background-color: red;
    padding: .5rem;
}
.orange {
    color: white;
    background-color: orange;
    padding: .5rem;
}
.yellow {
    color: black;
    background-color: yellow;
    padding: .5rem;
}
.green {
    color: white;
    background-color: green;
    padding: .5rem;
}

.days {
    color: white;
    background-color: blue;
    display: inline-block;
    width: 17%;
    height: 10rem;
    margin: 0 .5rem;
    padding: .5rem
}

.days p {
    font-size: .75rem;
}